<p id="notice"><%= notice %></p>
<h1>Movies</h1>
<div class="container">
  <table class="table table-info table-striped">
    <thead class="table-secondary">
      <td class="text-center"> Id </td>
      <td class="text-center">Name</td>
      <td class="text-center">Description</td>
      <td colspan="3" class="text-center">Actions</td>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td class="text-center"><%= movie.id %></td>
          <td class="text-center"><%= movie.name %></td>
          <td class="text-center"><%= movie.description %></td>
          <td class="text-center"><%= link_to 'Show', movie %></td>
          <td class="text-center"><%= link_to 'Edit', edit_movie_path(movie) %></td>
          <td class="text-center"><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @movies %>
  <br>
  <%= link_to 'New Movie', new_movie_path, class:" center btn-warning border-0 rounded-pill shadow p-3 m-3" %>
</div>
