<p id="notice"><%= notice %></p>
<h1>Products</h1>
<div class="container">
  <table class="table table-info table-striped">
    <thead class="table-secondary">
      <td class="text-center"> Id </td>
      <td class="text-center"> Name </td>
      <td class="text-center"> Description </td>
      <td colspan=3 class="text-center"> Action </td>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td class="text-center"><%= product.id %></td>
          <td class="text-center"><%= product.name %></td>
          <td class="text-center"><%= product.description %></td>
          <td class="text-center"><%= link_to 'Show', product %></td>
          <td class="text-center"><%= link_to 'Edit', edit_product_path(product) %></td>
          <td class="text-center"><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @posts %>
  <br>
  <%= link_to 'New Product', new_product_path, class:" center btn-warning border-0 rounded-pill shadow p-3 m-3" %>
</div>
